# Python仮想環境 .venvフォルダを無視する
.venv/

# Pythonのキャッシュファイル
__pycache__/

# ipynb_checkpointsフォルダを無視する
ipynb_checkpoints/

# macOSのシステムファイル .DS_Storeファイルを無視する
.DS_Store

# ログファイル
*.log

# VS Code
.vscode/

# データ
/data/*

# 仮想環境
.env
